In [8]:
3/5

0.6

In [17]:
a=3 
b=10
print(a)
c=35

3
13 35

In [9]:
print(3/5)

0.6

In [14]:
# this is my first comment
# today I am going to talk about integers and floats 

# integers are whole numbers positve and negative

# Markdown text

*My name is Anthony*
**Gonjalez**

What happens when print and last line?

What is Kernel?

Saving and Checkpoint?

print(a+b,c)

Out ?????

In [19]:
a= 10 
print(a)
b = 5 
c = a+b
c

10

15

In [20]:
print(a+b,c)

15 15

Input from user ???

In [21]:
input('Tell me your name?')

Tell me your name?Anthony Gonajalvez

'Anthony Gonajalvez'

In [22]:
name = input('Tell me your name?')

Tell me your name?Anthony Gonajalez

In [24]:
print(name)

Anthony Gonajalez

Sequences ?????

In [25]:
age = input('tell me your age?')

tell me your age?28

In [26]:
type(age)

str

### Type Casting

how to convert one type of object to other


Type change functions 

**str()** --> anything to string

**float()** --> somethings to float

**int()** -->somethings to integer

In [27]:
test_string1 = "12.5"
test_string2 = "12"
test_string3 = "12.5h"
test_string4 = "12h"

In [30]:
print( float(test_string1))
print( float(test_string2))
print( float(test_string3))
print( float(test_string4))

12.5
12.0

ValueError: could not convert string to float: '12.5h'

In [29]:
print( type( float(test_string1)))
print( type(float(test_string2)))
print( type(float(test_string3)))
print( type(float(test_string4)))

<class 'float'>
<class 'float'>

ValueError: could not convert string to float: '12.5h'

In [33]:
test_string3= "2/5"

print( type( float(test_string1)))
print( type(float(test_string2)))
print( type(float(test_string3)))
print( type(float(test_string4)))

<class 'float'>
<class 'float'>

ValueError: could not convert string to float: '2/5'

In [34]:
test_string3= "-12"

print( type( float(test_string1)))
print( type(float(test_string2)))
print( type(float(test_string3)))
print( type(float(test_string4)))

<class 'float'>
<class 'float'>
<class 'float'>

ValueError: could not convert string to float: '12h'

In [35]:
test_string4= "12"

print( type( float(test_string1)))
print( type(float(test_string2)))
print( type(float(test_string3)))
print( type(float(test_string4)))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>